/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

/* Выравнено по вверху изображения, чтобы снизу не было артифактного отступа */
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
  background-color: #fafafa;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Технический класс, не является бэм элементом */
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* .......................HEADER....................... */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0px 0px 0px 132px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 50px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
/* .......................MAIN....................... */
.page {
  flex: 1 1 auto;
}

.page__main-block {
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0px 160px 0px;
  }
}

.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  font-size: 58px;
  line-height: 137%;
  font-weight: 800;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

.main-block__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -10px 0px;
}

.main-block__button {
  display: flex;
  font-weight: 700;
  line-height: 150%;
  border-radius: 37px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  margin: 10px 0px;
}

@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 auto;
  }
}

.main-block__button:not(:last-child) {
  margin-right: 10px;
}

.main-block__button_orange {
  background: #ff7b47;
  color: #ffffff;
}

.main-block__button_border {
  border: 1px solid #0d5c63;
  color: #0d5c63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0px 0px 0px;
}

.page__advantages {
}

.page__practice {
}
.page__whoweare {
}
.page__clients {
  margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__getintouch {
}
/* .......................HEADER-BLOCK....................... */

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 143%;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}

.header-block__sub-title {
  line-height: 143%;
  color: #737373;
}

/* .......................SERVICES....................... */
.services {
}

.services__container {
}

.services__body {
}

@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
  }
}

.services__column {
  padding: 0px 15px;
  flex: 0 1 33.333%;
  margin: 0px 0px 30px 0px;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px;
  }
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }
}

.services__item {
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  padding: 35px;
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}

.item-service {
}

.item-service__green {
  background-color: #0d5c63;
}

.item-service__green .item-service__title {
  color: #ffffff;
}

.item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service__icon {
}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service__green .item-service__text {
  color: #ffffff;
}

.item-service__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 142%;
  color: #737373;
  letter-spacing: 0.2px;
}

/* .......................ADVANTAGES....................... */

.advantages {
  padding: 80px 0px;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 30px 0px;
  }
}

.advantages__container {
}

.advantages__header {
  margin: 0px 0px 50px 0px;
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantages__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}

@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages__item {
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  font-weight: 700;
}

.advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.advantages__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

/* .......................PRACTICE....................... */

.practice {
  padding: 125px 0px 80px 0px;
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}

@media (max-width: 767px) {
  .practice {
    padding: 0px 0px 40px 0px;
  }
}

.practice__container {
}

.practice__header {
  margin: 0px 0px 45px 0px;
}

.practice__body {
  margin: 0px -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}

@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.item-practice {
  background-color: #ffffff;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(:last-child) {
  margin-bottom: 15px;
}

.item-practice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-practice__text {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}

/* .......................WhoWeAre....................... */
.whoweare {
  padding: 80px 0px 130px 0px;
  background-color: #ffffff;
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }
}

.whoweare__header {
  margin: 0px 0px 100px 0px;
}

@media (max-width: 950px) {
  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 950px) {
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}

@media (max-width: 950px) {
  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
}

@media (max-width: 992px) {
  .whoweare__content {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 50px 0px;
  }
}

.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

@media (max-width: 950px) {
  .whoweare__title {
    font-size: 24px;
  }
}

.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.whoweare__text:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.whoweare__items {
}

.whoweare__items:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.item-whoweare__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

/* .......................CLIENTS....................... */

.clients {
  padding: 50px 0px;
}
.clients__container {
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.clients__item {
  padding: 8px 15px;
  flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

/* .......................SUBSCRIBE....................... */

.subscribe {
  position: relative;
}

.subscribe::before {
  content: "";
  background-color: #252b42;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  left: 0;
}

.subscribe__container {
}

.subscribe__body {
  position: relative;
  z-index: 2;
  margin: 0px 30px;
  padding: 30px 50px;
  align-items: center;
  background-color: #17213c;
  border-radius: 2px;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}

@media (min-width: 810px) {
  .subscribe__title {
    max-width: 266px;
  }
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #ffffff;
  flex: 0 1 50%;
}

@media (max-width: 810px) {
  .subscribe__title {
    margin: 0px 0px 30px 0px;
  }

  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 25px;
  }
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  padding: 0px 20px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-right: 0px;
  border-radius: 5px 0px 0px 5px;
  color: #737373;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  background-color: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  min-height: 58px;
  padding: 0px 22px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.subscribe__button:hover{
  background-color: #ffffff;
  color: #ff7b47;
}

/* .......................GETINTOUCH....................... */

.getintouch {
  padding: 80px 0px 136px 0px;
}

.getintouch__container {
}

.getintouch__header {
  margin: 0px 0px 80px 0px;
}

.getintouch__items {
  margin: 0 -15px;
}

@media (min-width:992px){
  .getintouch__items {
    margin: 0;
    display: flex;
    align-items: center;
  }
}

@media (max-width:992px){
  .getintouch {
    padding: 50px 0px;
  }

  .getintouch__header {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width:767px){
  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
}

.getintouch__item {
  flex: 0 1 33.333%;
}
.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 50px 15px;
}

.item-getintouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-getintouch__icon {
}

.item-getintouch__active{
  background: #252B42;
  padding: 80px 15px;
  color: #FFFFFF;
}

.item-getintouch__active .item-getintouch__button{
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__email {
  color: inherit;
}

.item-getintouch__email:hover {
  text-decoration: underline;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-getintouch__button {
  border: 1px solid #ff7b47;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ff7b47;
  padding: 5px 20px;
}

.item-getintouch__button:hover{
  background-color: #ff7b47;
  color: #FFFFFF;
}

/* .......................FOOTER....................... */
.footer {
}
